@import "tailwindcss";

:root{
  --primary: '#EE6C4D';
  --secondary: {
    100:'#1E1F25',
    900: '#131517'
  }
}

/* En tu archivo global CSS o dentro de tailwind.config.js como plugin */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
